In [1]:
import pandas as pd
import os
import numpy as np
from datetime import datetime

In [2]:
fxcm_dir = "../data/FXCM/Raw/"
fxcm_output_dir = "../data/FXCM/Cleaned/"

In [3]:
instruments = os.listdir(fxcm_dir)

,datetime,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,,
2013-01-02 04:07:00,2013-01-02 04:07:00,1.26843,1.26641,1.26843,1.26625,1.26882,1.26686,1.26882,1.26680,9
2013-01-02 04:08:00,2013-01-02 04:08:00,1.26641,1.26722,1.26726,1.26558,1.26686,1.26753,1.26762,1.26607,199
2013-01-02 04:09:00,2013-01-02 04:09:00,1.26722,1.26661,1.26724,1.26653,1.26753,1.26694,1.26767,1.26694,64
2013-01-02 04:10:00,2013-01-02 04:10:00,1.26661,1.26625,1.26661,1.26607,1.26694,1.26655,1.26698,1.26642,69
2013-01-02 04:11:00,2013-01-02 04:11:00,1.26625,1.26703,1.26703,1.26625,1.26655,1.26736,1.26736,1.26655,94

In [4]:
for instrument in instruments:
    output_file = fxcm_output_dir + instrument + "/" + instrument + "1.csv"
    if True: #not os.path.exists(output_file):
        
        print("Loading: {}".format(instrument))
        digits = 3 if "JPY" in instrument else 5
        
        df = pd.read_csv(fxcm_dir + instrument + "/" + instrument + "1", index_col='date')
        merged_df = pd.DataFrame()
        print("Processing: {}".format(instrument))
        merged_df["Date"] = df.index.to_frame()['date'].apply(lambda date: date.split(" ")[0]).apply(lambda date: datetime.strptime(date,"%Y-%m-%d").strftime("%Y.%m.%d"))
        merged_df["Time"] = df.index.to_frame()['date'].apply(lambda date: date.split(" ")[1]).apply(lambda time: datetime.strptime(time,"%H:%M:%S").strftime("%H:%M"))
        merged_df["Open"] = df[['bidopen', 'askopen']].mean(axis=1).round(digits)
        merged_df["High"] = df[['bidhigh', 'askhigh']].mean(axis=1).round(digits)
        merged_df["Low"] = df[['bidlow', 'asklow']].mean(axis=1).round(digits)
        merged_df["Close"] = df[['bidclose', 'askclose']].mean(axis=1).round(digits)
        merged_df["Volume"] = df["tickqty"]
        print("Dumping: {}".format(instrument))
        if not os.path.exists(fxcm_output_dir + instrument):
            os.makedirs(fxcm_output_dir + instrument)
        merged_df.to_csv(output_file, index=False, header=False)
    else:
        print("{} file exists".format(instrument))

Loading: EURAUD
Processing: EURAUD
Dumping: EURAUD
Loading: GBPUSD
Processing: GBPUSD
Dumping: GBPUSD
Loading: EURGBP
Processing: EURGBP
Dumping: EURGBP
Loading: EURUSD
Processing: EURUSD
Dumping: EURUSD
Loading: EURJPY
Processing: EURJPY
Dumping: EURJPY
Loading: GBPJPY
Processing: GBPJPY
Dumping: GBPJPY
Loading: GBPNZD
Processing: GBPNZD
Dumping: GBPNZD
Loading: USDCHF

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Processing: USDCHF
Dumping: USDCHF
Loading: AUDCHF
Processing: AUDCHF
Dumping: AUDCHF
Loading: NZDCHF
Processing: NZDCHF
Dumping: NZDCHF
Loading: AUDNZD
Processing: AUDNZD
Dumping: AUDNZD
Loading: NZDJPY
Processing: NZDJPY
Dumping: NZDJPY
Loading: AUDJPY
Processing: AUDJPY
Dumping: AUDJPY
Loading: USDJPY
Processing: USDJPY
Dumping: USDJPY
Loading: CADCHF
Processing: CADCHF
Dumping: CADCHF
Loading: GBPCHF
Processing: GBPCHF
Dumping: GBPCHF
Loading: EURCHF
Processing: EURCHF
Dumping: EURCHF
Loading: USDCAD
Processing: USDCAD
Dumping: USDCAD
Loading: NZDCAD
Processing: NZDCAD
Dumping: NZDCAD
Loading: AUDCAD
Processing: AUDCAD
Dumping: AUDCAD
Loading: NZDUSD
Processing: NZDUSD
Dumping: NZDUSD

In [6]:
instrument = "EURUSD"
df = pd.read_csv(fxcm_dir + instrument + "/" + instrument + "1", index_col='date')

In [9]:
df[df["datetime"].str.contains(">")]

,datetime,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,,
2018-10-24 22:53:00,2018-10-24 22>53:00,1.13984,1.13981,1.13985,1.13977,1.14001,1.13997,1.14001,1.13992,67

In [15]:
df.index.to_frame()[df.index.to_frame()["date"].str.contains(">")]

Empty DataFrame
Columns: [date]
Index: []